apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: external-secrets
resources:
  - namespace.yaml

helmCharts:
  - name: external-secrets
    repo: https://charts.external-secrets.io
    version: 0.12.1
    releaseName: external-secrets
    namespace: external-secrets
    includeCRDs: true
    valuesInline:
      webhook:
        port: 9443
      serviceMonitor:
        enabled: false
      resources:
        requests:
          cpu: 10m
          memory: 32Mi
        limits:
          cpu: 100m
          memory: 128Mi
