apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - rbac.yaml


helmCharts:
  - name: external-dns
    repo: https://kubernetes-sigs.github.io/external-dns/
    version: 1.13.0
    releaseName: external-dns
    namespace: external-dns
    valuesInline:
      provider: cloudflare
      env:
        - name: CF_API_TOKEN
          valueFrom:
            secretKeyRef:
              name: cloudflare-api-token-secret
              key: api-token
      domainFilters:
        - k3s.sudhanva.me
      sources:
        - ingress
        - gateway-httproute
        - crd
