#cloud-config
package_update: true
packages:
  - curl
  - iptables-persistent

runcmd:
  # Open Firewall
  - iptables -P INPUT ACCEPT
  - iptables -P FORWARD ACCEPT
  - iptables -F INPUT
  - iptables -F FORWARD
  - netfilter-persistent save

  - |
    until curl -k https://${server_ip}:6443; do
      echo "Waiting for K3s Server..."
      sleep 10
    done
  - curl -sfL https://get.k3s.io | INSTALL_K3S_EXEC="agent --node-label node-role.kubernetes.io/worker=worker" K3S_URL=https://${server_ip}:6443 K3S_TOKEN=${k3s_token} sh -
